## Muhamad Fadhli Akbar - Cortana
### **TUGAS 4**

<p align="center">
<img src="https://i.pinimg.com/originals/42/07/d2/4207d2d7729f5dc29cd039df31ca3dcc.gif" alt="Gif Banner" width=40%>
</p>

**QUIZ DICTIONARY**

In [23]:
def car_1():
    car = {}
    car['brand'] = 'Ford'
    car['model'] = 'Mustang'
    car['year'] = 1964
    car['color'] = 'Red'
    car['price'] = 30000
    car['km'] = 89000
    car['motor'] = 1.6
    return car


def car_2():
    car = dict(brand='Ford', model='Mustang', year=1964, color='Red', price=30000, km=89000, motor=1.6)
    return car

def car_3():
    car = {}
    car.update(brand='Ford', model='Mustang', year=1964, color='Red', price=30000, km=89000, motor=1.6)
    return car

print(car_1())
print(car_2())
print(car_3())

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'Red', 'price': 30000, 'km': 89000, 'motor': 1.6}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'Red', 'price': 30000, 'km': 89000, 'motor': 1.6}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'Red', 'price': 30000, 'km': 89000, 'motor': 1.6}

In [34]:
def create_a_new_car():
    car = {
        'brand': 'Ford',
        'model': 'Mustang',
        'year': 1964,
        'color': 'Red',
        'price': 30000,
        'km': 89000,
        'motor': 1.6
    }
    
    new_car = car.copy()
    
    for key, value in car.items():
        new_key = key + "_2"
        new_car[new_key] = value
    
    return new_car

new_car_dict = create_a_new_car()
print(new_car_dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'Red', 'price': 30000, 'km': 89000, 'motor': 1.6, 'brand_2': 'Ford', 'model_2': 'Mustang', 'year_2': 1964, 'color_2': 'Red', 'price_2': 30000, 'km_2': 89000, 'motor_2': 1.6}

In [26]:
# Soal 3
def concat_dicts(*dicts):
    result = {}
    for d in dicts:
        result.update(d)
    return result

d1={4:120, 7:60}
d2={'A': 'AAA', 'B':'BBB'}
d3={True: 'Correct', False: 'Incorrect'}

d = concat_dicts(d1, d2, d3)
print(d)

{4: 120, 7: 60, 'A': 'AAA', 'B': 'BBB', True: 'Correct', False: 'Incorrect'}

In [27]:
# Soal 4
def delete_odds(dictionary):
    new_dict = {}
    for index, (key, value) in enumerate(dictionary.items()):
        if index % 2 == 0:
            new_dict[key] = value
    return new_dict

dictionary = {'a': 'A', 'b': 'B', 'c': 'C', 'd': 'D', 'e': 'E', 'f': 'F'}
evens = delete_odds(dictionary)
print(evens)

{'a': 'A', 'c': 'C', 'e': 'E'}

In [28]:
# Soal 5
def convert_lists_into_dict(list_1, list_2):
    return dict(zip(list_1, list_2))

l_1 = ['name', 'lastname', 'age', 'gender']
l_2 = ['John', 'Doe', 100, 'Male']
employee = convert_lists_into_dict(l_1, l_2)
print(employee)

{'name': 'John', 'lastname': 'Doe', 'age': 100, 'gender': 'Male'}

In [31]:
def alphabetical(dictionary):
    for key in list(dictionary.keys()):
        if not isinstance(key, str) or not key.isalpha():
            dictionary.pop(key)

dictionary = {'a': 'A', 'b': 'B', 2: 200, 'd': 'D', 5: 300, 'f': 'F', 1: 50}
print("dictionary before calling alphabetical:", dictionary)
alphabetical(dictionary)
print("dictionary after calling alphabetical:", dictionary)

dictionary before calling alphabetical: {'a': 'A', 'b': 'B', 2: 200, 'd': 'D', 5: 300, 'f': 'F', 1: 50}
dictionary after calling alphabetical: {'a': 'A', 'b': 'B', 'd': 'D', 'f': 'F'}

**QUIZ TUPLE**

In [3]:
# soal 1
def create_tuple():
    t = tuple(range(1, 11))
    t += tuple(range(11, 21))
    return t
t1 = create_tuple()
result1 = create_tuple()
print(result1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [4]:
# Soal 2
def tuple_to_string(t):
    return ''.join(t)

t2 = ('M', 'a', 'c', 'h', 'i', 'n', 'e', ' ', 'L', 'e', 'a', 'r', 'n', 'i', 'n', 'g')

result = tuple_to_string(t2)
print(result)

Machine Learning

In [5]:
# Soal 3
def string_to_list_to_tuple(s):
    return tuple(list(s))

pythons_father = 'Guido van Rossum'
result = string_to_list_to_tuple(pythons_father)
print(result)

('G', 'u', 'i', 'd', 'o', ' ', 'v', 'a', 'n', ' ', 'R', 'o', 's', 's', 'u', 'm')

In [6]:
# Soal 4
def how_many_instances(t, index):
    element = t[index]
    return t.count(element)

t = (5, 2, 3, 3, 4, 2, 1, 3, 4, 5, 2, 1, 2)
i = 1
result = how_many_instances(t, i)
print(result)

4

In [7]:
# Soal 5
tup = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j')

result1 = tup[3:7+1]
result2 = tup[:5]
result3 = tup[5:]
result4 = tup[:]
result5 = tup[-2]
result6 = tup[-4:]
result7 = tup[1:8:2]
result8 = tup[::3]
result9 = tup[8:2:-1]
result10 = tup[::-1]
result11 = tup[::-2]
result12 = tup[:-1]

print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)
print(result8)
print(result9)
print(result10)
print(result11)
print(result12)

('d', 'e', 'f', 'g', 'h')
('a', 'b', 'c', 'd', 'e')
('f', 'g', 'h', 'i', 'j')
('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j')
i
('g', 'h', 'i', 'j')
('b', 'd', 'f', 'h')
('a', 'd', 'g', 'j')
('i', 'h', 'g', 'f', 'e', 'd')
('j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')
('j', 'h', 'f', 'd', 'b')
('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i')

In [8]:
# Soal 6
def change_tuple_ending(tuple_list):
    for i, t in enumerate(tuple_list):
        tuple_list[i] = t[:-1] + (t[-1] ** 2,)

tuple_list = [(2, 5, 8), (4, 3), (1, 7, 9, 6), (5,)]
print("Before:", tuple_list)

change_tuple_ending(tuple_list)
print("After:", tuple_list)

Before: [(2, 5, 8), (4, 3), (1, 7, 9, 6), (5,)]
After: [(2, 5, 64), (4, 9), (1, 7, 9, 36), (25,)]

In [9]:
# Soal 7

def replace_tuple_with_square(tuple_list):
    return [tuple(x**2 for x in t) for t in tuple_list]

tuple_list = [(2, 5, 8), (4, 3), (1, 7, 9, 6), (5,)]
new_tuple_list = replace_tuple_with_square(tuple_list)

print("Original List:", tuple_list)
print("Squared List:", new_tuple_list)

Original List: [(2, 5, 8), (4, 3), (1, 7, 9, 6), (5,)]
Squared List: [(4, 25, 64), (16, 9), (1, 49, 81, 36), (25,)]

In [10]:
# Soal 8
def movie_characters(actors, characters, movies, years):
    tuple1 = zip(actors, characters)
    tuple2 = zip(movies, years)
    return dict(zip(tuple1, tuple2))

actors = ['Marlon Brando', 'Heath Ledger', 'Natalie Portman', 'Emma Stone']
characters = ['Don Vito Corleone', 'Joker', 'The Swan Queen', 'Mia']
movies = ['The Godfather', 'The Dark Knight', 'Black Swan', 'La La Land']
years = [1972, 2008, 2010, 2016]

result = movie_characters(actors, characters, movies, years)
print(result)

{('Marlon Brando', 'Don Vito Corleone'): ('The Godfather', 1972), ('Heath Ledger', 'Joker'): ('The Dark Knight', 2008), ('Natalie Portman', 'The Swan Queen'): ('Black Swan', 2010), ('Emma Stone', 'Mia'): ('La La Land', 2016)}

**QUIZ SET**

In [ ]:
# Soal 1

def create_set_and_add():
    print()

list_to_add = ['Cranberry', 'Grape', 'Pineapple', 'Mango']
all_fruits = create_set_and_add(list_to_add)
print(all_fruits)

In [12]:
# Soal 2

def create_set_and_add_all_at_once(list_to_add):
    fruits = {"Apple", "Banana", "Cherry", "Orange"}
    fruits.update(list_to_add)
    return fruits

list_to_add = ['Cranberry', 'Grape', 'Pineapple', 'Mango', 'Another Fruit']
all_fruits = create_set_and_add_all_at_once(list_to_add)
print(all_fruits)

{'Cherry', 'Mango', 'Grape', 'Another Fruit', 'Apple', 'Cranberry', 'Banana', 'Pineapple', 'Orange'}

In [14]:
# Soal 3
def same_elements(set_1, set_2):
    return sorted(set_1.intersection(set_2))

set_1 = {10, 20, 30, 40, 50, 60}
set_2 = {20, 40, 60, 80, 90, 100}
intersection = same_elements(set_1, set_2)
print(intersection)

[20, 40, 60]

In [13]:
# Soal 4
def all_elements(set_1, set_2):
    return sorted(set_1.union(set_2), reverse=True)

set_1 = {10, 20, 30, 40, 50, 60}
set_2 = {20, 40, 60, 80, 90, 100}
union = all_elements(set_1, set_2)
print(union)

[100, 90, 80, 60, 50, 40, 30, 20, 10]

In [15]:
# Soal 5

def get_difference(list_1, list_2):
    return set(list_1).difference(set(list_2))

l_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
l_2 = [2, 4, 6, 8]
diff = get_difference(l_1, l_2)
print(diff)

{1, 3, 5, 7, 9}

In [16]:
# Soal 6
def is_completely_different(set_1, set_2):
    if not isinstance(set_1, set) or not isinstance(set_2, set):
        raise Exception("Parameters must be of Set type.")
    return "They are completely different." if set_1.isdisjoint(set_2) else "They are not completely different."

set_1 = {20, 10, 40, 30, 50}
set_2 = {60, 80, 70, 100, 90}
print(is_completely_different(set_1, set_2))

set_1 = {20, 10, 40, 30, 50, 60}
set_2 = {60, 80, 70, 90, 40, 10}
print(is_completely_different(set_1, set_2))

They are completely different.
They are not completely different.

In [17]:
# Soal 7
def is_completely_different_2(set_1, set_2):
    if not isinstance(set_1, set) or not isinstance(set_2, set):
        raise Exception("Parameters must be of Set type.")
    if set_1.isdisjoint(set_2):
        return "They are completely different."
    else:
        return f"They are not completely different: {set_1.intersection(set_2)}"


set_1 = {20, 10, 40, 30, 50}
set_2 = {60, 80, 70, 100, 90}
print(is_completely_different_2(set_1, set_2))

set_1 = {20, 10, 40, 30, 50, 60}
set_2 = {60, 80, 70, 90, 40, 10}
print(is_completely_different_2(set_1, set_2))

They are completely different.
They are not completely different: {40, 10, 60}

In [18]:
# Soal 8
def copy_and_clear(original_set):
    new_set = original_set.copy()
    original_set.clear()
    return new_set

set1 = {'A', 'B', 'C', 'D', 'E'}
print('before the function call -> set1:', set1)
set1_copy = copy_and_clear(set1)
print('after the function call -> set1:', set1)
print('set1_copy:', set1_copy)

before the function call -> set1: {'B', 'C', 'A', 'D', 'E'}
after the function call -> set1: set()
set1_copy: {'B', 'C', 'A', 'D', 'E'}

In [19]:
# Soal 9
def remove_common_elements(set_1, set_2):
    set_1.difference_update(set_2)

set_1 = {'a', 'b', 'c', 'd', 'e', 'f'}
set_2 = {'d', 'b', 'e', 'f', 'h', 'g'}
print('before the function -> set_1:', set_1)
remove_common_elements(set_1, set_2)
print('after the function -> set_1:', set_1)

before the function -> set_1: {'c', 'f', 'a', 'd', 'b', 'e'}
after the function -> set_1: {'c', 'a'}

In [20]:
# Soal 10
def which_one_is_superset(set_1, set_2):
    if set_1.issuperset(set_2):
        return f"set_1: {set_1} is superset of set_2: {set_2}"
    elif set_2.issuperset(set_1):
        return f"set_2: {set_2} is superset of set_1: {set_1}"
    else:
        return "Neither set is a superset of the other."

set_1 = {'a', 'b', 'c', 'd'}
set_2 = {'d', 'b', 'e', 'f', 'a', 'c'}
print(which_one_is_superset(set_1, set_2))

set_1 = {'d', 'b', 'e', 'f', 'a', 'c'}
set_2 = {'a', 'b', 'c', 'd'}
print(which_one_is_superset(set_1, set_2))

set_2: {'c', 'f', 'a', 'd', 'b', 'e'} is superset of set_1: {'a', 'd', 'b', 'c'}
set_1: {'c', 'f', 'a', 'd', 'b', 'e'} is superset of set_2: {'a', 'd', 'b', 'c'}

**QUIZ LIST**

In [35]:
# Soal 1
def sum_of_list(nums):
  sum = 0
  for num in nums:
    if isinstance(num, int):
      sum += num
  return sum

nums = [1, 2, 3, 4, 5, 'a']
result = sum_of_list(nums)
print(result)

15

In [36]:
# Soal 2
def two_levels_sum(nested_list):
  sum = 0
  for item in nested_list:
    if isinstance(item, list):
      sum += two_levels_sum(item)
    elif isinstance(item, int):
      sum += item
  return sum

a_list = [[5, 8], [1, 4, 7], [10], 3, 'a']
summation = two_levels_sum(a_list)
print(summation)

38

In [37]:
# Soal 3
def squares(numbers):
  squares_list = []
  for num in numbers:
    squares_list.append(num**2)
  return squares_list

numbers = [1,2,3,4,5]
result = squares(numbers)
print(result)

[1, 4, 9, 16, 25]

In [38]:
# Soal 4
def sum_of_squares(numbers):
  squares_list = [num**2 for num in numbers]
  sum_of_squares_list = [sum(squares_list[:i+1]) for i in range(len(numbers))]
  return sum_of_squares_list


a_list = [1,2,3,4,5]
result = sum_of_squares(a_list)
print(result)

[1, 5, 14, 30, 55]

In [39]:
# Soal 5
def odd_even_difference(a_list):
  odd_indices = a_list[1::2]
  even_indices = a_list[::2]
  odd_sum = sum_of_list(odd_indices)
  even_sum = sum_of_list(even_indices)
  return odd_sum - even_sum

a_list = [1,2,3,4,5,6]
diff = odd_even_difference(a_list)
print(diff)

3

In [40]:
# Soal 6
def crop_the_list(nums):
  nums[:] = nums[1:-1]

nums = [1,2,3,4,5,6,7]
print('the list before passing as parameter:', nums)
crop_the_list(nums)
print('the list before passing as parameter:', nums)

the list before passing as parameter: [1, 2, 3, 4, 5, 6, 7]
the list before passing as parameter: [2, 3, 4, 5, 6]

In [41]:
# Soal 7
def sort_the_list(a, is_reverse=False):
  return sorted(a, reverse=is_reverse)

a = [12, 4, 2, 1, 6, 3, 45]
print('a:', a)

sorted_a = sort_the_list(a, False)
print('sorted - ascending', sorted_a)

sorted_a = sort_the_list(a, True)
print('sorted - descending', sorted_a)

print('a after sort_the_list function call:', a)

a: [12, 4, 2, 1, 6, 3, 45]
sorted - ascending [1, 2, 3, 4, 6, 12, 45]
sorted - descending [45, 12, 6, 4, 3, 2, 1]
a after sort_the_list function call: [12, 4, 2, 1, 6, 3, 45]

In [42]:
# Soal 8
def gauss(start=1, end=100, step_size=2):
  numbers = list(range(start, end+1, step_size))
  sorted_numbers_asc = sorted(numbers)
  sorted_numbers_desc = sorted(numbers, reverse=True)
  pairwise_sums = [a + b for a, b in zip(sorted_numbers_asc, sorted_numbers_desc)]
  summation = sum(pairwise_sums)
  result = summation / 2
  return result

conseq_sum = gauss(2, 100, 3)
print(conseq_sum)

1650.0