## Muhamad Fadhli Akbar(Cortana)

**Assignment Machine Learning for Chapter 03-06**

## Decision Tree

Task: make a decision tree classifier

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

df = pd.read_csv('Titanic_Train.csv')
print(df.shape)
df.head()

(891, 12)

,Survived,Pclass,Sex,Fare,Embarked,Deck,Relatives,Isalone,Title,Age_Class,Age_Pclass,FarePerPerson
0,0,3,1,1,2,9,1,0,1,3,9,0
1,1,1,0,4,0,3,1,0,3,6,6,2
2,1,3,0,2,2,9,0,1,2,4,12,2
3,1,1,0,4,2,3,1,0,3,6,6,2
4,0,3,1,2,2,9,0,1,1,6,18,2

In [3]:
x = df.drop(['Survived'], axis=1)
y = df['Survived']

print(x.shape, y.shape)

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

(891, 11) (891,)

In [5]:
smileys = {"ðŸ˜®","ðŸ˜‚","ðŸ—¿"}
smileys.add("ðŸ«¡")

print(smileys)

{'ðŸ˜®', 'ðŸ˜‚', 'ðŸ—¿', 'ðŸ«¡'}