## Muhamad Fadhli Akbar(Cortana)

**Assigment 1 About Database**

If *the image is not accessible*, it can be accessed through my github repository by [clicking on this link](https://github.com/Cortana-Coders/AICI-Tasks/blob/main/Assigment_SQL/Muhamad%20Fadhli%20Akbar_Cortana_Tugas%20SQL%201.ipynb "link github")

**Question**
1. View all columns and data from the staff table.
2. Display the address and district columns of the address table.
3. Show all unique last names from the customer table.
4. Find the number of movies in the movies table.
5. Find the different number of first names in the actor table.
6. Show rental_id data and the difference between return_date and rental_date in the rental table

**Question 1**

```sql

-- Solution
SELECT * from pagila.actor;

```

<img src="../Image/sql1_1.png" alt="gambar sql">


<img src="../Image/sql1_q12.png" alt="gambar sql">

**Question 2**

```sql

-- Solution
SELECT address, district FROM pagila.address;
```
---

<img src="../Image/sql1_q2.png">


<img src="../Image/sql1_q22.png">

**Question 3**

```sql

-- Solution
SELECT DISTINCT last_name FROM pagila.customer;

```
---
<img src="../Image/sql1_q3.png">


<img src="../Image/sql1_q32.png">

**QUESTION 4**

```sql

-- Solution
SELECT COUNT(*) FROM pagila.film;

```
---
<img src="../Image/sql1_q4.png">

**QUESTION 5**

```sql

-- Solution
SELECT COUNT(DISTINCT first_name) FROM pagila.actor;

```
---
<img src="../Image/sql1_q5.png">

**QUESTION 6**

```sql

-- Solution
SELECT rental_id, AGE(return_date, rental_date) AS rental_duration FROM pagela.rental;

```
---
<img src="../Image/sql1_q6.png">


<img src="../Image/sql1_q62.png">

### **THANK YOU üòÅ**

<img src="https://i.pinimg.com/originals/a3/c7/35/a3c7357e33061a3fc4f43fdd2622cbfb.gif" width=120%>